[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/uncrustify"]
	path = extern/uncrustify
	url = https://github.com/uncrustify/uncrustify.git
